

.product-list {
  display: grid;
  /* 4 columnas en pantallas grandes */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem; /* Espacio entre tarjetas */
  padding-bottom: 2rem; /* Espacio al final para que no se pegue */
}