.product-card {
  background: linear-gradient(180deg, #ffffff, #ffffff);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 1.5rem;
  text-align: center;
  max-width: 250px;
  height: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden; /* para que el bot칩n respete los bordes redondeados */
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

/* --- Texto --- */
.plan-name {
  font-size: 0.95rem;
  margin-bottom: 0.4rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  width: 100%;
}

.price {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  font-weight: bold;
}

/* --- Imagen --- */
.image-container {
  height: 100px;
  width: 100%;
  margin: 0.75rem 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-grow: 1;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

/* --- Bot칩n --- */
.product-card button {
  width: 100%; /* Ocupar todo el ancho */
  background: linear-gradient(
    90deg,
    #ff5f6d,
    #ffc371
  ); /* degradado m치s moderno */
  color: rgba(255, 255, 255, 0.974);
  border: none;
  padding: 0.8rem 0;
  border-radius: 0 0 10px 10px; /* encaja con los bordes del card */
  font-weight: bold;
  cursor: pointer;
  font-size: 2rem;
  transition: background 0.4s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

/* --- Hover del bot칩n --- */
.product-card button:hover {
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(255, 126, 95, 0.5);
}
